body {
    background-color: rgb(var(--lb-bg));
}

.board {
    width: 100%;
    min-width: 320px;
    max-width: 520px;
    aspect-ratio: 12/8;
    background-color: #fff;
    border: solid 1px rgba(var(--lb-br), 0.8);
}
.board span{
    height: 60px;
}

.board path {
    pointer-events: visible !important;
    fill: white;
    mix-blend-mode: difference;
}
