---
import Game from "@Apps/Game";
import Layout from "@Layouts/Layout.astro";
---

<Layout title="Template" description="Template">
	<div class="board f-col f-center br-10 o-hidden mx-auto">
		<Game client:only="react" />
	</div>
</Layout>
